*{margin: 0;
    padding: 0;}
   body{
    background-color:#ffffff;
      font-family: "Open Sans", sans-serif;}
      
   header{ 
       width: 100%;
       padding: 15px 0px;}
   .wrapper{
       width: 80%;
       margin: 0 auto;}
   .nav{
       display: flex;
       justify-content: space-between;
       align-items: center;}
   header .nav .logo img{
       width: 120px;}
   .menu ul{
       margin: 0;
       padding: 0;}
   .menu ul li{
       list-style-type: none;
       display: inline-block;
       margin-right: 25px;}
   .menu ul li a {
       font-size: 18px;
       text-decoration: none;
       color: darkcyan;
       text-transform: capitalize;}
   .btn button{
       background-color: darkblue;
       padding:10px 20px;
       font-size: 18px;
       color: aliceblue;
       border: 1px solid darkblue;}
   .btn button:hover{
       background-color: rgb(64, 134, 134);}
   .home p{
       margin-top: 40px;
       margin-left: 0px;
       color: rgb(16, 15, 15);
       size: 20px;

    }
    .home p a {
        color: rgb(16, 15, 15);
        text-decoration: none;
    }
    .home p a:hover{
        color: cadetblue;
    }
    .slide h2{
        margin-top: 70px;
        size: 40px;
        color:rgb(52, 52, 119);
        font-size: 30px;
    }
    .flex-box{
        margin-top: 40px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;

    }
    .flex-box img{
        width: 80px;
        height: 10vh;
        padding: auto;
        margin-top: 25px;
        margin-bottom: 16px;
    }
    .flex-box .box1{
        background-color: #f7f7f7;
        border-radius: 6px;
        width: 210px;
        height: 24vh;
    }
    .flex-box .box2{
        background-color: #f7f7f7;
        border-radius: 6px;
        padding: auto;
        width: 210px;
        height: 24vh;
    }
    .flex-box .box3{
        background-color: #f7f7f7;
        border-radius: 6px;
        padding: auto;
        width: 210px;
        height: 24vh;
    }
    .flex-box .box4{
        background-color: #f7f7f7;
        border-radius: 6px;
        padding: auto;
        width: 210px;
        height: 24vh;
    }
    .flex-box .box5{
        background-color: #f7f7f7;
        border-radius: 6px;
        padding: auto;
        width: 210px;
        height: 24vh;
    }
    .heading h2 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 30px;
        color:rgb(52, 52, 119);
    }
    .offline {
    
        display: flex;
        margin: 10px 10px 10px 10px;
        padding: auto;
        justify-content: space-evenly;
    } 
    .offline .box1 button {
        position: absolute;
        width: 90px;
        height: 35px;
        background-color:#FEB52B;
        border: none;
        color: #f7f7f7;
        font-size: 19px;
        border-radius: 0px 0px 5px 5px;
        font-weight: 450;
        margin-left: 240px;
    }
.offline .box1{
    margin-left: 0px;
    
}
.offline .box2 button {
    position: absolute;
    width: 90px;
    height: 35px;
    background-color:#FEB52B;
    border: none;
    color: #f7f7f7;
    font-size: 19px;
    border-radius: 0px 0px 5px 5px;
    font-weight: 450;
    margin-left: 240px;}
.offline .box3 button {
    position: absolute;
        width: 90px;
        height: 35px;
        background-color:#FEB52B;
        border: none;
        color: #f7f7f7;
        font-size: 19px;
        border-radius: 0px 0px 5px 5px;
        font-weight: 450;
        margin-left: 240px;
}

.details{

    display: flex;
    justify-content:space-evenly;


}

.details .box1{
    margin-top: -40px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 250px;
    height: 17vh;
    justify-content: center;
    margin-bottom: 70px;
    padding: 30px;
    margin-left: -2px;
    box-shadow: 10px 15px 25px #e7e7e7;
}

.details .box1:hover{
    background-color: #f7f7f7;
    stroke-opacity: inherit;
}
.details .box1 h2{
margin-bottom: 10px;
font-size: 18px;

}
.details .box1 p{
    line-height: 25px;
    font-size: 12px;
    color: #07324f;
}

.details .box1 button{
    position: absolute;
    width: 130px;
    height: 45px;
    background-color: white;
    border: #07324f;
    color: #0e3c5b;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 450;
    margin-left: 40px;
    border-style:solid;
    padding:auto;
    margin-left: 70px;
    margin-top: -25px;
}
.details .box1 button:hover{
color: white;
background-color: rgb(28, 155, 223);
font-weight: 450;
}

.details .box1 span{
color: rgb(80, 210, 117);
font-weight: 700;
}


.details .box2{
    margin-top: -40px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 250px;
    height: 17vh;
    justify-content: center;
    margin-bottom: 70px;
    padding: 30px;
    margin-left:13px;
    box-shadow: 10px 15px 25px #e7e7e7;
}
.details .box2 h2{
margin-bottom: 35px;
font-size: 18px;

}
.details .box2 p{
    line-height: 25px;
    font-size: 12px;
    color: #07324f;
}

.details .box2 button{
        position: absolute;
        width: 130px;
        height: 45px;
        background-color: white;
        border: #07324f;
        color: #0e3c5b;
        font-size: 15px;
        border-radius: 30px;
        font-weight: 450;
        margin-left: 40px;
        border-style:solid;
        padding:auto;
        margin-left: 70px;
        margin-top: -22px;
}
.details .box2 button:hover{
    color: white;
    background-color: rgb(28, 155, 223);
    font-weight: 450;
}

.details .box2 span{
    color: rgb(80, 210, 117);
    font-weight: 700;
}



.details .box3{
    margin-top: -40px;
    border-radius: 8px;
    background-color: #ffffff;
    width: 250px;
    height: 17vh;
    justify-content: center;
    margin-bottom: 70px;
    padding: 30px;
    margin-left:11px;
    box-shadow: 10px 15px 25px #e7e7e7;
}
.details .box3 h2{
margin-bottom: 8px;
font-size: 18px;

}
.details .box3 p{
    line-height: 25px;
    font-size: 12px;
    color: #07324f;
}

.details .box3 button{
        position: absolute;
        width: 130px;
        height: 45px;
        background-color: white;
        border: #07324f;
        color: #0e3c5b;
        font-size: 15px;
        border-radius: 30px;
        font-weight: 450;
        margin-left: 40px;
        border-style:solid;
        padding:auto;
        margin-left: 70px;
        margin-top: -22px;
}
.details .box3 button:hover{
    color: white;
    background-color: rgb(28, 155, 223);
    font-weight: 450;
}

.details .box3 span{
    color: rgb(80, 210, 117);
    font-weight: 700;
}



  
.address{
    width: 100%;
    margin-top: 49px;}
.address .wrapper{
    width: 80%;
    height: 40vh;
    margin-top: 40px;
    background-color: #2e367d;
    border-radius: 10px; 
    justify-content: space-between;}
.address .flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;}
.address .flex-box .right h2{
    margin-right: 239px;
    line-height: 10px;
    font-weight: 700;
    color: white;}
.address .flex-box .left, .address .flex-box .right{
    flex-basis: 50%;
    margin-top: 95px;}
.address .flex-box .right p {
    font-size: 15px;
    line-height:25px;
    font-weight: 350;
    color: white;
    margin-top: 20px;
    text-align: justify;   }
.address .flex-box .left h2{
    line-height: 10px;
    font-weight: 700;
    color: white;
    margin-left: -124px;}
.address .flex-box .left p {
    font-size: 15px;
    line-height:25px;
    font-weight: 350;
    color: white;
    margin-top: 20px;
    text-align: justify; 
    margin-left: 70px;}
.links .flex-box{
    display: flex;
    justify-content: space-evenly;
    text-align:left;}
.links .flex-box .box1{
    width: auto;
    background-color: #ffffff;
    border-color: #1e266d;
    border-radius: 6px;
    margin: 20px auto;
    padding: 15px;
    color: #91a3bb;
    line-height: 30px;
    margin: 20px 15px 25px 20px;}
    
.links .flex-box .box2{
    width: auto;
    background-color: #ffffff;
    border-color: #1e266d;
    border-radius: 6px;
    margin: 20px auto;
    padding: 15px;
    color: #91a3bb;
    line-height: 30px;
    margin: 20px 15px 25px 20px;}
.links .flex-box .box3{
    width: auto;
    background-color: #ffffff;

    border-color: #1e266d;
    border-radius: 6px;
    margin: 20px auto;
    padding: 15px;
    color: #91a3bb;
    line-height: 30px;
    margin: 20px 15px 25px 20px;}
.links .flex-box .box4{
    width: auto;
    background-color: #ffffff;

    border-color: #1e266d;
    border-radius: 6px;
    margin: 20px auto;
    padding: 15px;
    color: #91a3bb;
    line-height: 30px;
    margin: 20px 15px 25px 20px;}
 .links .flex-box h5{
    color: #1e276d;
    font-size: 17px;
    margin-bottom: 10px;}
 .link-image p {
    text-align: center;
    margin-top:  70px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #91a3bb;}
.link-image img{
    margin-top: 50px;
    width: 100%;
    justify-content: center;}
